@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  --primary-color: #6a1b9a;
  --background-color: #121212;
  --text-color: #ffffff;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --background-color: #000000;
}

.app {
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.toggle-button:hover {
  transform: scale(1.1);
}

.snake-game-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

.snake-game-button:hover {
  background-color: #7b1fa2;
}

.button-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.icon-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.icon-button:hover {
  background-color: #7b1fa2;
  transform: scale(1.1);
}
