.contact {
  font-size: 2.3rem;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.119);
  display: inline-block;
  margin-top: 20px;
}

.contact-section {
  padding: 50px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section input,
.contact-section textarea {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.contact-section button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Spam {
  color: black;
}
